pip-tools>=6.5.1 # lower has bug
gunicorn
amzqr
flask
webargs
smart_getenv
marshmallow
requests
opencv-python
numpy
flask_sqlalchemy
pyjwt
flask-socketio
paramiko
pycryptodome
python-dotenv
gevent
gevent-websocket